.App {
  text-align: center;
  margin-top: 5vh;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.dataComp__parent{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dataComp__child{
  margin: 5px;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 5px;
  flex-grow: 1;
}
.dataComp__child>p{
  margin: 5px;
}


/*  #282c34 */