.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.dataComp__parent{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav{
  width: 100%;
  position: sticky;
  bottom: 0vh;
  color: white;
  background-color: #4f5155;
}

nav ul{
  margin: 5px auto !important;
}

.pagination{
  display: flex;
  margin:3rem auto;
  width: 90%;
  overflow: auto;
  position: relative;
  clear: both;
}

form{
  display: flex;
}

 input{
  width: 50%;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  padding-left: 10px;
}
.header_search{
  margin-left: 1em;
  background-color: #24a3b4;
  border: none;
  border-radius: 5px;
}

.header_component{
  text-align: left;
  width: 80%;
  float: left;
}

.header_title{
  display: flex;
  justify-content: space-between;
}

.header_title>span{
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.header_title p{
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  border-radius: 1em;
  padding: 5px;
  color: aliceblue;
  background-color: #4f5155;
}

.pagination::-webkit-scrollbar {
  display: none;
}

.dataComp__child{
  margin: 5px;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 5px;
  flex-grow: 1;
}
.dataComp__child>p{
  margin: 5px;
}

#button{
  background-color: #09d3ac;
  color: white;
  padding: 1px 1px;
}

#button:hover{
  background-color: #24a3b4;
}

#button:active{
  border: 3px solid #09d3ac
}

.container_wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.component_wrapper{
  display: flex;
  flex-direction: column;
  border: 1px solid #9F9F9F;
  border-radius:2rem ;
  margin: 1em;
  min-width: 50vw;
  min-height: 30vh;
}

.component_header{
  display: flex;
  background-color: #24a3b4;
  border: 1px solid #9F9F9F;
  border-radius: 1em;
}

.component_header>h3{
  margin:1rem 2rem;
}


.component_header>.id{
  color: aliceblue;
  margin:1rem 2rem;
}


.component_header>span{
  background-color: #6bcdda;
  margin-right: 1em;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding: .5em;
  border-radius: 1rem;
}

.something{
  background-color: #24a3b4;
  color: whitesmoke;
}